@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,800;1,400&display=swap");

:root {
    --primary: #6366f1;
    --primary-light: #818cf8;
    --primary-dark: #4f46e5;

    --light: #fff;
    --dark: #18181b;

    --gray-lighter: #f4f4f5;
    --gray-light: #e4e4e7;
    --gray-dark: #3f3f46;
    --gray-darker: #27272a;

    --info-lighter: #5eead420;
    --info-light: #2dd4bf;

    --warn-lighter: #fde04720;
    --warn-light: #facc15;

    --success-lighter: #4ade8020;
    --success-light: #22c55e;

    --danger-lighter: #f8717120;
    --danger-light: #ef4444;

    --gap: 1.4rem;
    --round: 0.3rem;
}

html {
    scroll-behavior: smooth;
}

html body {
    background-color: var(--light);
    color: var(--dark);
    max-height: 100vh;
}

html.dark body {
    background-color: var(--dark);
    color: var(--light);
}

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    font-size: 1rem;
    line-height: 1.4;
}

h1 {
    font-size: 2.3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.7rem;
}

h4,
h5,
h6 {
    font-size: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
img,
blockquote,
.group {
    margin-top: 0;
    margin-bottom: var(--gap);
}

a {
    color: var(--primary);
    text-decoration: none;
    transition: 0.2s;
}

ul {
    padding-left: 1.2rem;
}

a:hover {
    color: var(--primary-dark);
}

html.dark a:hover {
    color: var(--primary-light);
}

button {
    background-color: var(--primary);
    border: none;
    outline: none;
    color: var(--light);
    font-size: 1rem;
    padding: 0.4rem 0.7rem;
    border-radius: var(--round);
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background-color: var(--primary-dark);
}

html.dark button:hover {
    background-color: var(--primary-light);
}

code {
    background: var(--gray-lighter);
    border-radius: var(--round);
    padding: 0.2rem 0.3rem;
}

html.dark code {
    background: var(--gray-darker);
}

img {
    max-width: 100%;
    height: auto;
}

blockquote,
.admonition {
    padding: 1rem;
    overflow: hidden;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    border: none;
    border-radius: var(--round);
    border-left: 0.3rem solid;
}

blockquote {
    background-color: var(--gray-lighter);
    border-color: var(--gray-light);
}

html.dark blockquote {
    background-color: var(--gray-darker);
    border-color: var(--gray-dark);
}

.admonition {
    position: relative;
}
.admonition.info {
    background-color: var(--info-lighter);
    border-color: var(--info-light);
}

.admonition.warn {
    background-color: var(--warn-lighter);
    border-color: var(--warn-light);
}

.admonition.success {
    background-color: var(--success-lighter);
    border-color: var(--success-light);
}

.admonition.danger {
    background-color: var(--danger-lighter);
    border-color: var(--danger-light);
}

:is(blockquote, .admonition-content) > *:last-child,
li * {
    margin: 0;
}

ul li {
    margin-bottom: 0.8rem;
}

li * + ul {
    margin-top: 0.8rem;
}

nav {
    text-align: center;
    color: var(--light);
    background-color: var(--primary);
    padding: 4rem 1rem;
}

nav .logo {
    font-size: 2.4rem;
    font-weight: 700;
}

main {
    margin: 3rem;
}

.gridify {
    display: grid;
}

.gridify article {
    order: 999;
}

@media screen and (min-width: 900px) {
    .gridify {
        grid-template-columns: repeat(5, minmax(0, 1fr));
        gap: 3rem;
        margin-top: 0;
        margin-bottom: 0;
    }

    .gridify > * {
        padding: 3rem 0;
    }

    .gridify aside {
        position: sticky;
        top: 0;
        height: min-content;
        grid-column: span 1 / span 1;
    }

    .gridify article {
        grid-column: span 3 / span 3;
        order: initial;
    }

    .gridify #toc {
        position: sticky;
        top: 0;
        height: min-content;
        grid-column: span 1 / span 1;
    }

    .side-content-container {
        overflow: hidden;
    }

    .side-content-box {
        max-height: calc(100vh - 7rem);
        overflow-y: auto;
    }
}

#search-input {
    padding: 0.7rem 1rem;
    outline: none;
    width: 80%;
    max-width: 40rem;
    border: none;
    border-radius: var(--round);
    background-color: var(--primary-light);
    color: var(--light);
}

#search-input::placeholder {
    color: var(--light);
    opacity: 0.5;
}

#search-results-container {
    width: 100%;
    margin: 0.4rem 0 0 0;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#search-results {
    width: 80%;
    max-width: 40rem;
    background-color: var(--primary-light);
    padding: 1rem 1.2rem;
    border-radius: var(--round);
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    scrollbar-width: none;
}
