:root {
    --primary: #6366f1;
    --secondary: #18181b;
    --secondary--light: #27272a;

    --md-primary-fg-color: var(--primary);
    --md-accent-fg-color: var(--primary);
}

[data-md-color-scheme="slate"] {
    --md-default-bg-color: var(--secondary--light);
    --md-footer-bg-color: var(--secondary);
}

.md-main {
    padding-bottom: 2rem;
}
