<div>
    <div class="logo">{{ data.app_name }}</div>
	<p>Guide</p>

	<input id="search-input" type="text" placeholder="Enter something to search..." autocomplete="off">
	<div style="position: relative;">
		<div id="search-results-container" style="position: absolute; display: none; width: 100%; margin: 0.4rem 0 0 0; padding: 0; flex-direction: column; justify-content: center; align-items: center;">
			<ul id="search-results" style="background-color: var(--primary-light); padding: 0.6rem 1.2rem; list-style-type: none; border-radius: var(--round); text-align: left;"></ul>
		</div>
	</div>
</div>
