<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ data.config.site_name }}</title>

        {{ data.head }}
    </head>
    <body>
		<nav>
			{{ data.navbar }}
		</nav>

        <main class="gridify">
	        <aside>
	            {{ data.sidebar }}
	        </aside>

	        <article>
	            <div>
					{{
						data.meta.title ? `<header>
			                <h1>${data.meta.title}</h1>
			            </header>` : ""
					}}

	                {{ data.content }}

					<a href="{{ data.meta.github_page_url }}" style="margin-bottom: 0.2rem;">✏️ Improve this page on GitHub</a>
					<p style="margin: 0.3rem 0 0 0; opacity: 0.6; font-size: 0.8rem;">Last edited on {{ data.lastEdited.date.toLocaleString("en-US", { timeZoneName: "short" }) }} by {{ data.lastEdited.author }}</p>
	            </div>
	        </article>

			<div id="toc">
				<p style="margin-bottom: 0.2rem;"><b>Contents</b></p>
				{{ data.toc }}
			</div>
        </main>

		<div style="text-align: right; margin: 0 2rem 2rem 2rem;">
			<button id="theme-toggler"></button>
		</div>

		<footer>
			{{ data.footer }}
		</footer>
    </body>
</html>
